extends menuLateral
block contenido
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    link(rel="stylesheet", href="../public/css/crear-partidos.css")



    div.container 
        form 
            div.row
                div.col-4
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Varonil</label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Seleccionar equipo</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            </select>
                        </div>  
                div.col-2
                    div.form-group    
                        <img src="..." alt="..." class="img-thumbnail".rounded #imagen>
                div.col-4  
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Femenil</label>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Seleccionar equipo</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
            </div>
            div.row 
                div.col-4
                    div.form-group    
                    <img src="..." alt="..." class="img-thumbnail".rounded #imagen>  
                div.col-2
                
                div.col-4
                    div.form-group    
                        <img src="..." alt="..." class="img-thumbnail".rounded #imagen>

            
            div.card 
                div.card-header 
                    h2 Lista de Partidos
                .card-body 
                    div.row
                        div.col-4 
                            span Equipos
                        div.col-4 
                            span Hora y fecha 
                        div.col-4
                            span Operaciones
                                   


                

             

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


