*{
 padding: 0%;
 margin: 0;

}
.card{
    display: flex;
    justify-items: center;
    margin-left: 20%;
    margin-top: 20px;
   
}

.container{
    width: 85vw;
    height: 90vh;
    margin-top: -90vh;
    float: right;

}



.col-5{
    background-color: crimson;
    margin-top: 20px;
}

.contenedorImagen{
    width: 100%;
    height: 250px;
}